# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Paperspace & virtualenvs
.env/
.venv/

# Training outputs
models/
wandb/

# System files
.DS_Store
